@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_BlankAdminLayout.cshtml";
}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>TechieRathore Login</h3>
                <small></small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="control-label" for="EmailID">Email</label>
                            <input type="text" placeholder="example@gmail.com" title="Please enter you email" required="" value="" name="EmailID" id="EmailID" class="form-control">
                            <span class="help-block small">Your unique username to app</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="LoginPassword">Password</label>
                            <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="LoginPassword" id="LoginPassword" class="form-control">
                            <span class="help-block small">Your strong password</span>
                        </div>
                        <div class="form-group">
                            <div id="captcha" class="captcha">
                                @Html.Label("Captcha")
                                @Html.Captcha("Refresh", "Enter the text you see above", 5, "<span class='text-danger'>Enter Captcha</span>", true)
                            </div>
                        </div>
                        <button class="btn btn-success btn-block">Login</button>
                        <a class="btn btn-default btn-block" href="@Url.Action("SignUp", "Account")">Register</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            @if (ViewBag.ErrorMessage != null)
            {
                <h2>@ViewBag.ErrorMessage</h2>
            }
            @*<strong>HOMER</strong> - AngularJS Responsive WebApp <br /> 2015 Copyright Company Name*@
        </div>
    </div>
</div>

