@using BlogEngine.ViewModels
@model DisplayBlog
@{
    ViewBag.Title = "";
}
<section id="hero" class="light-typo">
    <div id="cover-image" class="image-bg2 animated fadeIn"></div>
    <div class="container welcome-content">
        <div class="middle-text">
            <h1>@Model.BlogPost.Title</h1>
        </div>
    </div>
</section>

<section id="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active">@Model.BlogPost.Title</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div class="container content">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            @Html.Raw(Model.BlogPost.PostContent)

            <ul class="social-links outline text-center">
                <li><a href="https://twitter.com/techierathore"><i class="icon-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/techierathore/"><i class="icon-facebook"></i></a></li>
            </ul>

            <div id="author" class="clearfix">
                <img class="img-circle" alt="" src="~/BlogImages/MyHeadShot.png" height="96" width="96">
                <div class="author-info">
                    <h3>S Ravi Kumar</h3>
                    <p>Ravi is an experienced IT professional with over 15 years of IT services experience using Microsoft technologies including like ASP.Net, C#, .Net Core, Xamarin.Forms, Azure etc.</p>
                </div>
            </div>
            <h3>Add a new comment</h3>
            @using (Html.BeginForm("SaveComment", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.BlogPost.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.NewComment.PostID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 wow fadeInUp">
                        <div class="form-group">
                            <div class="controls">
                                @Html.TextAreaFor(model => model.NewComment.Comment, new { @class = "form-control input-lg requiredField", @row = 3, placeholder = "Join the discussion...." })
                                @Html.ValidationMessageFor(model => model.NewComment.Comment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.NewComment.GivenBy, new { @class = "form-control input-lg requiredField", placeholder = "Name" })
                                        @Html.ValidationMessageFor(model => model.NewComment.GivenBy, "", new { @class = "text-danger" })
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <div class=" controls">
                                        @Html.TextBoxFor(model => model.NewComment.Email, new { @class = "form-control input-lg requiredField", placeholder = "Email" })
                                        @Html.ValidationMessageFor(model => model.NewComment.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <button name="submit" type="submit" class="btn btn-block" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Comment Sent">Send Comment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
            <h3>11 Comments</h3>
            <div class="media">
                <hr>
                <a class="pull-left avatar" href="#">
                    <img class="media-object img-circle" src="img/author-sing.jpg" width="40" height="40" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><a href="">Melissa Sing</a><span>5h ago | <a href="#">REPLY</a></span></h4>
                    <p>Good news, everyone! There's a report on TV with some very bad news! Daddy Bender, we're hungry. One hundred dollars. Leela, Bender, we're going grave robbing.</p>


                    <div class="media">
                        <a class="pull-left avatar" href="#">
                            <img class="media-object img-circle" src="img/author-red.jpg" width="40" height="40" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="">Jessica Red</a><span>17h ago | <a href="#">REPLY</a></span></h4>
                            <p>Who am I making this out to? You're going back for the Countess, aren't you? Does anybody else feel jealous and aroused and worried? </p>
                        </div>
                    </div>


                    <div class="media">
                        <a class="pull-left avatar" href="#">
                            <img class="media-object img-circle" src="img/author-sans.jpg" width="40" height="40" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="">Dorin Sans</a><span>2d ago | <a href="#">REPLY</a></span></h4>
                            <p>Fetal stemcells, aren't those controversial? Ven ve voke up, ve had zese wodies. You guys realize you live in a sewer, right? And why did 'I' have to take a cab? Why would I want to know that? Are you crazy? I can't swallow that.</p>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <a class="pull-left avatar" href="#">
                        <img class="media-object img-circle" src="img/author-red.jpg" width="40" height="40" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="">Jessica Red</a><span>3d ago | <a href="#">REPLY</a></span></h4>
                        <p>It may comfort you to know that Fry's death took only fifteen seconds, yet the pain was so intense, that it felt to him like fifteen years.  </p>
                    </div>
                </div>
            </div>
            <div id="comments_pagination">
                <span class="page-numbers current">1</span>
                <a class="page-numbers" href="#">2</a>
                <a class="next page-numbers" href="#"><i class="icon-arrow-right2"></i></a>
            </div>
        </div>
    </div>
</div>




