@using BlogEngine.ViewModels
@model BlogList
@{
    ViewBag.Title = "Home Page";
}
<section id="hero" class="light-typo">
    <div id="cover-image" class="image-bg animated fadeIn">
        @*<img src="~/BlogImages/UseImage.png" />*@
    </div>
    <div class="container welcome-content">
        <div class="middle-text">
            <img class="btn-blog outline-white" src="~/BlogImages/FullLogo.png" />
        </div>
    </div>
</section>
<div id="start" class="container content">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            @foreach (var vItem in Model.BlogPosts)
            {
                <article class="clearfix">
                    <div class="post-date">
                        <a href="">@vItem.CreatedOn.ToLongDateString() </a> <span>@vItem.CommentCount Comments</span>
                    </div>
                    <h2><a href="@Url.Action("DetailBlog", "Home", new { aPostID = vItem.PostID })">@vItem.Title</a></h2>
                    <p>
                        @vItem.Abstract <a class="" href="@Url.Action("DetailBlog", "Home", new { aPostID = vItem.PostID })">Read more</a>
                    </p>
                </article>
            }
            @if (Model.Pager.EndPage > 1)
            {
                if (Model.Pager.CurrentPage > 1)
                {
                    <div class="paging clearfix">
                        <a class="btn pull-left" href="@Url.Action("Index", "Home")"><i class="icon-arrow-left2 left"></i><span>Newer</span><span class="hidden-xs"> Posts</span></a>
                        <a class="btn pull-right" href="@Url.Action("Index", "Home", new { PageNo = (Model.Pager.CurrentPage - 1) })"><span>Older</span><span class="hidden-xs"> Posts</span><i class="icon-arrow-right2 right"></i></a>
                    </div>
                }

                if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <div class="paging clearfix">
                        <a class="btn pull-left" href="@Url.Action("Index", "Home", new { PageNo = (Model.Pager.CurrentPage + 1) })"><i class="icon-arrow-left2 left"></i><span>Newer</span><span class="hidden-xs"> Posts</span></a>
                        <a class="btn pull-right" href="@Url.Action("Index", "Home", new { PageNo = (Model.Pager.TotalPages) })"><span>Older</span><span class="hidden-xs"> Posts</span><i class="icon-arrow-right2 right"></i></a>
                    </div>
                }
            }
        </div>
    </div>
    <!-- end row -->
</div>

