@using BlogEngine.Models
@model UserEvent
@{
    ViewBag.Title = Model.UIPageTitle;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="small-header transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("AdminHome", "AdminDashboard")">Dashboard</a></li>
                    <li>
                        <a href="@Url.Action("UserProfile", "BlogUsers")">Profile</a>
                    </li>
                    <li class="active">
                        <span>@Model.UIPageTitle</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                @Model.UIPageTitle
            </h2>
        </div>
    </div>
</div>
<div class="content">
    <div class="hpanel">
        <div class="panel-body">
            @using (Html.BeginForm("AddEvent", "BlogUsers", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.EventID, new { htmlAttributes = new { @class = "form-control" } })
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">Upload Event Logo Icon Image </label>
                    <div class="col-md-5">
                        <input type="file" class="form-control" id="UploadEventLogo" />
                    </div>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.LogoIconPath, new { htmlAttributes = new { @class = "form-control", placeholder = "Event Logo Icon Image" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">&nbsp;</label>
                    <div class="col-md-10">
                        <label class="control-label">Squeezed Image Preview</label>
                        <img id="imgPreview" height="50" width="450" class="thumbnail" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="EventTitle">Event Title </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EventTitle, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Event Title" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="SessionTitle">Session Title </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SessionTitle, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Session Title" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="EventDate">Event Date </label>
                    <div class="col-md-10">
                        <div class="input-group date">
                            @Html.EditorFor(model => model.EventDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Event Date" } })
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>               
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="EventUrl">Event Url</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EventUrl, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Event Url" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Type">Event Type</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Event Type" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-success"><i class="fa fa-save"></i> Save </button>

                    </div>
                </div>
            </div>

            }
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/datepicker/css")
}
@section Scripts {
    @Scripts.Render("~/bundles/datepicker/js")

    <script type="text/javascript">

        $(function () {
            $('#EventDate').datepicker();
            $('.input-group.date').datepicker({});
        });

            $("#UploadEventLogo").change(function () {
                 UploadEventImage();
            });
   function UploadEventImage() {
        var url = '@Url.Action("UploadFile", "Images")';
        formData = new FormData();
        var files = $("#UploadEventLogo").get(0).files;
        if (files.length > 0) {
            formData.append("aUploadedFile", files[0]);
                    }
        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (FileUrl) {
                $("#LogoIconPath").val(FileUrl);
                $("#imgPreview").attr('src', FileUrl);
            },
            error: function (data) {
                alert(data.responseText);
            }
        });
    }
    </script>
}