@using BlogEngine.Models
@model BlogComment
@{
    ViewBag.Title = "Reply Comment";
}


<!-- Main bar -->
<div class="mainbar">
    <!-- Matter -->
    <div class="matter">
        <div class="container">
            <div class="row">&nbsp;</div>
            <div class="col-lg-12">
                <div class="widget wblue">
                    <div class="widget-head">
                        <div class="pull-left">Reply Comment</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            @using (Html.BeginForm("ReplyComment", "Comments", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.PostID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.HiddenFor(model => model.CommentID, new { htmlAttributes = new { @class = "form-control" } })
                                <!-- Form starts.  -->
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="Comment">Reply Comment </label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter New Tag" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button class="btn btn-info"><i class="fa fa-save"></i> Save Reply</button>
                                            <a class="btn btn-danger" href="@Url.Action("AllCommentsList", "Comments", new { Area = "Admin" })">Close</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/ Matter ends -->
</div>
<!--/ Mainbar ends -->
