<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TechieRathore</title>
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="~/Content/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap/dist/css/bootstrap-theme.min.css">
    <!-- Font-Awesome -->
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css">
    <!-- Google Webfonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CPT+Serif:400,400italic' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link rel="stylesheet" href="~/Content/styles-dark-green.css" id="theme-styles">

    <script src="~/Content/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="widewrapper masthead">
            <div class="container">
                <a href="@Url.Action("Index", "Home")" id="logo">TechieRathore</a>
                <div id="mobile-nav-toggle" class="pull-right">
                    <a href="#" data-toggle="collapse" data-target=".tales-nav .navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <nav class="pull-right tales-nav">
                    <div class="collapse navbar-collapse">
                        <ul class="nav nav-pills navbar-nav">
                            <li class="dropdown active">
                                <a href="@Url.Action("Index", "Home")">Blog</a>
                            </li>
                            <li>
                                <a href="@Url.Action("About", "Home")">About</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Contact", "Home")">Credits</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="widewrapper subheader">
            <div class="container">
                <div class="tales-breadcrumb">
                    <a href="#">Blog</a>
                </div>
            </div>
        </div>
    </header>
    <div class="widewrapper main">
        @RenderBody()
    </div>
    <footer>
        <div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-wpforms"></i>Statistics</h3>

                        <span>Even we sometimes loose track of how many articles we actually have here.  This one helps:</span>

                        <div class="stats">
                            <div class="line">
                                <span class="counter">27</span>
                                <span class="caption">Articles</span>
                            </div>
                            <div class="line">
                                <span class="counter">208</span>
                                <span class="caption">Comments</span>
                            </div>
                            <div class="line">
                                <span class="counter">2</span>
                                <span class="caption">Authors</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-star"></i> Hall of Fame</h3>
                        <ul class="tales-list">
                            <li><a href="index.html">Why we Need to Encrypt All Communication</a></li>
                            <li><a href="#">Selling is a Function of Design. Not Vice-Versa.</a></li>
                            <li><a href="#">It’s Hard To Come Up With Dummy Titles</a></li>
                            <li><a href="#">Why the Internet is Full of Cats</a></li>
                            <li><a href="#">Last Made-Up Headline, I Swear!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="widewrapper copyright">
            <div class="container">
                Designed by <a href="http://www.xltants.com" rel="nofollow">Xltants IT Solutions</a>
            </div>
        </div>
    </footer>

    <script src="~/Content/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/modernizr/modernizr-custom.js"></script>
</body>
</html>
